:root {
    --bgc: #F6F6EC;
    --textcolor: #0059D9;
    --textcolor-hover: #010101;
    --border-top: #D9DFE4;
}

body {
    background-color: var(--bgc);
    font-family: 'Tilt Warp';
}

.page {
    max-width: 80vw;
    margin: 0 auto;
}

.item__h1 {
    color: var(--textcolor-hover);
    font-size: 2em;
}

.item__meme {
    text-align: center;
}

.item__label {
    color: var(--textcolor);
    border-top: solid 1px var(--border-top);
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    min-height: 2em;
    cursor: pointer;
}

.label__span {
    color: var(--textcolor-hover);
    font-size: 1.5em;
    font-weight: 500;
}
 
label + input[type="radio"], label span {
    display: none;
}

.item__meme {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

label + input[type="radio"]:checked + .item__meme {
    max-height: 60vh;
    transition: 0.5s;
    opacity: 100%;    
}
.accordion__item:hover > .item__meme {
    max-height: 60vh;
    transition: 0.5s ease;  
    opacity: 100%;     
}
.accordion:hover .label__span {
    display: flex;
}

.accordion__item:hover .label__span {
    transform: rotate(45deg);
}

input[type="radio"]:checked  label .label__span {
    transform: rotate(45deg);
}


.accordion__item:hover {
    cursor: pointer;
}






